/node_modules
/zipcodes.csv
/zipcodes_done.csv
/out.csv
/plz-gebiete.kmz
/package-lock.json
/postleitzahlen-deutschland.csv
/13509.csv
/01159.csv
/45145.csv
/22525.csv
/30419.csv
/76199.csv
/04159.csv
/80686.csv
/90431.csv
/64546.csv
/70794.csv
/89079.csv
/shortest_distance.csv
/shortest_distance_comma.csv
/x.csv
/test.csv
/y.csv